absl-py==0.13.0
aiohttp==3.7.4.post0
alabaster==0.7.12
-e git+git@github.com:machine-discovery/aldense.git@d060d45ac45105bfb596c6a8884967fc8e8603f9#egg=aldense
argon2-cffi==20.1.0
async-generator==1.10
async-timeout==3.0.1
attrs==21.2.0
Babel==2.9.1
backcall==0.2.0
bleach==3.3.0
cachetools==4.2.2
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
cmake==3.21.2
ConfigArgParse==1.5.2
configparser==5.0.2
cupy-cuda112==9.1.0
cycler==0.10.0
decorator==5.0.9
defusedxml==0.7.1
docutils==0.17.1
entrypoints==0.3
fastrlock==0.6
flake8==3.9.2
fsspec==2021.5.0
future==0.18.2
google-auth==1.31.0
google-auth-oauthlib==0.4.4
grpcio==1.38.0
h5py==3.3.0
idna==2.10
imagesize==1.2.0
ipykernel==5.5.5
ipython==7.24.1
ipython-genutils==0.2.0
ipywidgets==7.6.3
jedi==0.18.0
Jinja2==3.0.1
joblib==1.0.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
kiwisolver==1.3.1
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.4.2
matplotlib-inline==0.1.2
mccabe==0.6.1
mistune==0.8.4
multidict==5.1.0
mypy==0.902
mypy-extensions==0.4.3
nbclient==0.5.3
nbconvert==6.1.0
nbformat==5.1.3
nest-asyncio==1.5.1
notebook==6.4.0
numpy==1.20.3
numpy-indexed==0.3.5
numpydoc==1.1.0
oauthlib==3.1.1
ordered-set==4.0.2
packaging==20.9
pandas==1.3.0
pandocfilters==1.4.3
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.2.0
prometheus-client==0.11.0
prompt-toolkit==3.0.19
protobuf==3.17.3
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.7.0
pycparser==2.20
pyDeprecate==0.3.0
pyDOE2==1.3.0
pyflakes==2.3.1
Pygments==2.9.0
pykeops==1.5
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
pytorch-lightning==1.3.0
pytz==2021.1
PyYAML==5.3.1
pyzmq==22.1.0
qtconsole==5.1.0
QtPy==1.9.0
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
scikit-learn==0.24.2
scipy==1.6.3
seaborn==0.11.1
Send2Trash==1.7.1
six==1.16.0
-e git+git@github.com:machine-discovery/sldense.git@2902807fc848c6ac8adca5bd95c949778fd08f8a#egg=sldense
smt==1.0.0
snowballstemmer==2.1.0
Sphinx==4.0.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
tensorboard==2.2.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
terminado==0.10.1
testpath==0.5.0
threadpoolctl==2.1.0
toml==0.10.2
torch==1.9.0
torchmeta==1.7.0
torchmetrics==0.3.2
torchvision==0.9.1
tornado==6.1
tqdm==4.61.1
traitlets==5.0.5
typing-extensions==3.10.0.0
urllib3==1.26.5
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.1
widgetsnbextension==3.5.1
yarl==1.6.3
